<!DOCTYPE html>
<html lang="en-US">
  <body>

    <div>
      <div id="totp_uri"></div>
      <canvas id="qrcode"></canvas>
      <input type="text" id="totp-token-input" placeholder="Enter TOTP token" />
      <button onclick="validateTOTPToken()">Validate Token</button>
    </div>

    <script>
    // Get the TOTP URI from the server
    fetch('/authentication/generate-totp-secret/',{
        method: 'POST',
    })
      .then(response => response.json())
      .then(data => {
        alert("HI")
        const totpUri = data.totp_uri;
        document.getElementById("totp_uri").innerHTML = totpUri;
      });

    // Validate a TOTP token
    function validateTOTPToken() {
      const totpToken = document.getElementById('totp-token-input').value;
      fetch('/authentication/validate-totp-token/', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ totp_token: totpToken }),
      })
        .then(response => response.json())
        .then(data => {
          if (data.is_valid) {
            alert('TOTP token is valid!');
          } else {
            alert('TOTP token is invalid!');
          }
        })
        .catch(error => console.error(error));
    }

    </script>
  </body>
</html>
